<h1> {{ name }} </h1>

<dl>
  <dt>Actor: </dt>
  <dd> {{ name }}</dd>

  <dt>Age: </dt>
  <dd> {{ age }}</dd>

  <dt>Method: </dt>
  <dd> {{  getheroDescription() }}</dd>

  <dt>First Capitalized: </dt>
  <dd>{{ firstCapitalized}}</dd>
</dl>


 <!-- ngIf SIRVE PARA QUITAR EL BUTTON CON UN CLICK. -->
<button *ngIf="name !== 'Spiderman'"(click)="changeHero()" class="btn btn-primary mx-3">
  Change Hero
</button>

<button *ngIf="age !==20" (click)="changeAge()" class="btn btn-primary mx-3">
  Change Age
</button>

<button (click)="resetHero()" class="btn btn-primary">
  Reset Hero
</button>

